{% load static %}
<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'frontend/favicon.svg' %}?v=2" type="image/svg+xml">
    <link rel="shortcut icon" href="{% static 'frontend/favicon.ico' %}?v=2" type="image/x-icon" sizes="any">
    <link rel="apple-touch-icon" href="{% static 'frontend/apple-touch-icon.png' %}?v=2">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AIFriends</title>
    <script type="module" crossorigin src="{% static 'frontend/assets/index-DWm66dYm.js' %}"></script>
    <link rel="stylesheet" crossorigin href="{% static 'frontend/assets/index-B5Rft4Q0.css' %}">
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
